#cuerpo{
    position: center;
}

#cajon 
{
    background-position: 0 0, center;

    background-color: whitesmoke;
    
    
}
#espc{
    margin-top: 30px;
    margin-bottom: 40px;
    
}

#titular{
    position: top right;
    margin-top: 60px;
}


#ingresar{
    background-color: green;
}
#registar{
    background-color: rgb(102, 171, 211);
}

